<section class="parallax-section">
  <h2 class="parallax-text">Moon Light</h2>
  <div class="moon">
    <img src="{{ file_url('sites/default/files/images/moon.png') }}" alt="Moon">
  </div>
  <div class="mountain">
    <img src="{{ file_url('sites/default/files/images/mountain.png') }}" alt="Mountain">
  </div>
  <div class="road">
    <img src="{{ file_url('sites/default/files/images/road.png') }}" alt="Road">
  </div>
</section>
